@media (max-width: 916px) {
	.container {
		flex-direction: column;
	}

	#banner h1 {
		max-width: 100%;
		font-size: 2.81rem;
	}

	#banner h2 {
		max-width: 75%;
	}

	.menu {
		margin-top: 15px;
		justify-content: center;
	}
}

@media (max-width: 600px) {
	header .container {
		flex-direction: row;
	}

	#geral .container {
		flex-direction: column;
		padding: 0px;
	}

	nav ul {
		flex-direction: column;
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		background-color: white;
	}

	header {
		height: auto;
		padding: 0px;
	}

	.logo {
		padding: 20px;
	}

	.menuMobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}